.button {
  border-radius: 50px;
  font-weight: bold;
  width: 180px;
  height: 50px;
}
.disbledButton {
  cursor: not-allowed;
  opacity: 0.2 !important;
  /* color: #797979 !important; */
  /* background-color: #9e9d9d !important; */
  /* outline: 0px; */
  /* border-color: #9e9d9d !important; */
}
